  .audio-volume-box {
    .audio-volume-label {
      min-width: 3rem;
    }
    trough {
      min-height: 6px;
      min-width:  6px;
      border-radius: 1rem;
      highlight, progress {
        border-radius: 1rem;
      }
    }
    slider {
      all: unset
    }
  }

  .mixer-item {
    margin: 5px 0px;
    > box { 
      padding-left: 5px;
    }
    .mixer-item-volume {
        padding-bottom: 5px;
    }
    .mixer-item-title {
        padding-bottom: 5px;
    }
    trough {
      min-height: 6px;
      min-width:  6px;
      border-radius: 1rem;
      highlight, progress {
        border-radius: 1rem;
      }
    }
    slider {
      all: unset
    }
    image { font-size: 40px; }
  }

