@import "colors";

* {
  color: $on_surface;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 0.9rem;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: $surface_container_low;
}

img {
  width:100%;
  max-width:28rem;
}

::-webkit-scrollbar {
  display: none;
}

.code {
  background: $surface_container_lowest;
  border-radius: 0.5rem;

  .code-header {
    background: $surface_container_lowest;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid $primary;
    padding: 5px;

    > button {
      color: $primary;
      background: transparent;
      float: right;
      border: none;

      &:before {
        content: '󰆏';
        display: inline-block;
        padding-right: 0.5rem;
      }
    }
  }
}

$languages-map: (
  arduino: "",
  armasm: "",
  asm: "",
  avrasm: "",
  bash: "",
  c: "",
  clojure: "",
  coffeescript: "",
  cpp: "",
  csharp: "󰌛",
  css: "",
  dockerfile: "󰡨",
  go: "",
  gradle: "",
  haskell: "",
  html: "",
  java: "",
  javascript: "󰌞",
  json: "",
  latex: "",
  lua: "󰢱",
  makefile: "",
  markdown: "",
  mipsasm: "",
  nginx: "",
  nix: "󱄅",
  php: "",
  prolog: "",
  python: "",
  r: "󰟔",
  ruby: "",
  rust: "",
  scss: "",
  shell: "",
  sh: "",
  typescript: "󰛦",
  wasm: "",
  x86asm: "",
  xml: "󰗀",
);

@each $lang, $content in $languages-map {
  [data-language="#{$lang}"]:before {
    content: $content;
    font-size: 1.1rem;
    color: $primary;
    padding-right: 0.5rem;
  }
}

pre {
  padding: 5px;
  overflow-x: scroll;

  code.hljs {
    color: $on_surface;
    background: transparent;
  }
}

//TODO: fox colors here
code {
  & .hljs-keyword {
    color: $source_color;
  }

  & .hljs-built_in {
    color: $primary;
  }

  & .hljs-type {
    color: $on_primary;
  }

  & .hljs-literal,
  & .hljs-number {
    color: $on_secondary;
  }

  & .hljs-operator {
    color: $on_tertiary;
  }

  & .hljs-punctuation {
    color: $on_tertiary;
  }

  & .hljs-property,
  & .hljs-variable.language_,
  & .hljs-symbol {
    color: $on_tertiary;
  }

  & .hljs-regexp {
    color: $primary;
  }

  & .hljs-string,
  & .hljs-char.escape_,
  & .hljs-subst {
    color: $secondary;
  }

  & .hljs-comment {
    color: $on_secondary;
  }

  & .hljs-doctag {
    color: $primary;
  }

  & .hljs-meta,
  & .hljs-title.function_,
  & .hljs-section {
    color: $on_secondary;
  }

  & .hljs-tag,
  & .hljs-attribute {
    color: $on_secondary;
  }

  & .hljs-name,
  & .hljs-selector-attr {
    color: $source-color;
  }

  & .hljs-params,
  & .hljs-selector-class,
  & .hljs-template-variable {
    color: $on_surface;
  }

  & .hljs-selector-tag {
    color: $on_primary;
  }

  & .hljs-selector-id {
    color: $tertiary;
  }

  & .hljs-bullet,
  & .hljs-code,
  & .hljs-formula {
    color: $on_tertiary;
  }

  & .hljs-emphasis {
    color: $primary;
    font-style: italic;
  }

  & .hljs-strong {
    color: $primary;
    font-weight: bold;
  }

  & .hljs-link {
    color: $tertiary;
    font-style: italic;
  }

  & .hljs-quote {
    color: $secondary;
    font-style: italic;
  }

  & .hljs-addition {
    color: $secondary;
    background: rgba(166, 227, 161, 0.15);
  }

  & .hljs-deletion {
    color: $primary;
    background: rgba(243, 139, 168, 0.15);
  }
}


