.indicator-container {
  min-width: 10rem;
  background-color: $primary_bg;
}

.osd-indicator {
  padding: 1rem 0rem 1rem 1.5rem;

  .osd-icon {
    color: $default_fg;
    font-size: 2rem;
  }

  .osd-value-txt {
    font-weight: 500;
    color: $default_fg;
    font-size: 1.2rem;
    min-width: 2.5rem;
  }

  .osd-progress {
    border-radius: 10rem;

    trough {
      border-radius: 10rem;
      background-color: $secondary_bg;
    }

    progress {
      border-radius: 10rem;
      background-color: $primary_fg;
    }
  }

}
