
@import "colors";

* {
  all: unset;
  font-family: "CaskaydiaCove Nerd Font";
}

.lock-container {
  background-image: url("/etc/greetd/ags/mountain.png");
  background-position: center;
  background-size: cover;
}

.avatar {
  background-image: url('/etc/greetd/ags/avatar.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 999px;
  min-height: 10rem;
  min-width: 10rem;
}

.entry-box {
  background: rgba(14, 14, 30, 0.80);
  border-radius: 1rem;
  min-width: 350px;
  padding: 8px;
}

entry {
  min-width: 350px;
}

.tooltip {
  background-color: $dark-background;
  color: $primary-color;
  padding: 0 0 8px 8px;
}

separator {
  margin: 3px;
  min-width: 1px;
  min-height: 1px;
  background-color: $light-background;
}
.clock-container {
  background-color: $dark-background;
  padding-right: 8px;
}
.clock-container .clock-date {
  font-size: 0.6rem;
  color: $primary-fg;
}
.clock-container .clock-time {
  font-size: 0.7rem;
}

.session-button {
  background-color: $dark-background;
  color: $primary-color;
  padding: 0px 8px;
}

.corner {
  background-color: $dark-background;
  border-radius: 1rem;
}

.angle {
  background-color: $dark-background;
}

.corner-container {
  background-color: $dark-background;
  border-top-right-radius: 1rem;
  min-width: 2rem;
  min-height: 2rem;
}

.music-player-icon {
  font-size: 1.8rem;
  margin: 0.5rem;
}

.mpris-list-container {
  min-width: 25rem;
  padding: 0.5rem;
}

.music-container {

  background-color: $secondary_bg;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 5px;
  min-height: 10rem;

  .music-player-icon {
    font-size: 1.6rem;
    padding-right: 8px
  }

  .music-player-name {
    text-shadow: 0.1rem 0.1rem $primary_bg;
  }

  .music-artist {
    text-shadow: 0.1rem 0.1rem $primary_bg;
    padding-top: 5px;
  }

  .music-title {
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem $primary_bg;
    padding-top: 5px;
  }

  .music-control-box {
    padding-top: 1.5rem;
    .music-button {
      font-size: 1.6rem;
      -gtk-icon-shadow: 0.1rem 0.1rem $primary_bg;
    }

    .music-progress {
      font-size: 3px;
      min-width: 40px;
      min-height: 40px;
    }
  }
}
