label, button, box, centerbox, window{
  all: unset;
  font-family: JetBrains Mono Light
}



//general
@import "colors";
@import "common";

//modules
@import "audio";
@import "bar";
@import "chatGPT";
@import "clock";
@import "indicator";
@import "launcher";
@import "mpris";
@import "notifications";
@import "powermenu";
@import "roundedCorner";
@import "sidepanel";
@import "systemtray";
@import "title";
@import "weather";
@import "workspaces";
