* {
  font-family: "CaskaydiaCove Nerd Font";
}

//general
@import "colors";
@import "common";

//modules
@import "audio";
@import "bar";
@import "chatGPT";
@import "clock";
@import "indicator";
@import "launcher";
@import "mpris";
@import "network";
@import "notifications";
@import "powermenu";
@import "quicksettings";
@import "roundedCorner";
@import "systemtray";
@import "title";
@import "weather";
@import "workspaces";

