.notification-indicator {
  font-size: 1.3rem;
}

.notification-indicator-container {
  background-color: $primary_bg;
  padding: 0 0.341rem;
}

.notifications-popup-list {
  min-width: 40rem;
  .notification {
      margin-right: 5px;
      background-color: $primary_bg;
  }
}

.notification {

  padding: 8px;
  margin-top: 5px;
  border-radius: 1rem;
  min-width: 25.8rem;
  background-color: $primary_bg;

  .notification-icon {
    font-size: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    margin-right: 5px;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
  }

  .notification-title {
    font-weight: bold;
  }

  .notification-body {

  }

  .notification-time {
  }

  .notification-close {
    min-width: 1.5rem;
  }

  .notification-action-button {
    background-color: mix($primary_fg, $primary_bg);
    border-radius: 1rem;
    margin: 5px 0px;
  }
}
