.session-button {
  min-width: 4.5rem;
  min-height: 4.5rem;
  background-color: $primary_bg;
  color: $default_fg;
  font-size: 3rem;
}

.session-button-focused {
  background-color: $primary_bg;
  color: $default_fg;
}

.session-button-desc {
  background-color: mix($primary_bg, $default_bg, 50%);
  color: mix($primary_fg, $default_fg, 50%);
  border-radius: 1rem;
  padding: 0.205rem 0.341rem;
  font-weight: 700;
  font-size: 11px;
}
