.qs-switcher {
  background-color: $surface;
  .qs-switcher-button {
    background-color: $surface_container_low;
    margin-right: 10px;
    &.focused {
      background-color: $surface;
      image {
        background-color: $surface_container_low;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
      }
    }
    &.before-focused {
      image { border-bottom-left-radius: 1rem; }
    }
    &.after-focused {
      image { border-top-left-radius: 1rem; }
    }
    image {
      padding: 10px;
      background-color: $surface;
      color: $primary;
      font-size: 2rem;
    }
  }
  .sidebar-iconbutton {
    padding: 2px;
  }
}

.quicksettings {
  min-width: 28.8rem;
  .qs-page {
    min-height: 10rem;
    background-color: $surface_container_low;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    scale {
      trough {
        background-color: $surface;
      }
    }
  }

  .cava {
    color: $primary;
    border-radius: 1rem;
  }

  .qs-menu {
    margin: 1rem;

    .qs-menu {
      margin: 0rem;
    }

    separator {
      margin: 0.5rem 0px;
    }

    .qs-title {
      font-weight: bold;
    }

    .qs-content {
      .terminal {
        &:active {
          color: $primary;
        }
        color: mix($primary, $surface_container_low, 50%);
        background-color: $surface_container_low;
      }
    }
  }

  .qs-header {
    margin: 8px 0;
    background-color: $surface;
    border-radius: 1rem;

    .qs-button {
      padding: 5px;
      font-size: 1.2rem;
      border-radius: 1rem;
      min-width: 2rem;
      background-color: transparent;
    }
  }
}

