.qs-switcher {
  background-color: $primary_bg;
  .qs-switcher-button {
    background-color: $secondary_bg;
    margin-right: 10px;
    &.focused {
      background-color: $primary_bg;
      image {
        background-color: $secondary_bg;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
      }
    }
    &.before-focused {
      image { border-bottom-left-radius: 1rem; }
    }
    &.after-focused {
      image { border-top-left-radius: 1rem; }
    }
    image {
      padding: 10px;
      background-color: $primary_bg;
      color: $default_fg;
      font-size: 2rem;
    }
  }
  .sidebar-iconbutton {
    padding: 2px;
  }
}

.quicksettings {

  .qs-page {
    min-height: 10rem;
    background-color: $secondary_bg;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    min-width: 26.8rem;
    padding: 1rem;
    scale {
      trough {
        background-color: $primary_bg;
      }
    }
  }

  .qs-menu {
    separator {
      margin: 3px 0px;
      background-color: $primary_fg;
    }

    .qs-title {
      font-weight: bold;
    }

    .qs-content {
      .terminal {
        background-color: $secondary_bg;
      }
      .cava {
        color: $primary_fg;
        border-radius: 1rem;
      }
    }
  }

  .qs-header {
    margin: 8px 0;
    background-color: $primary_bg;
    border-radius: 1rem;

    .qs-button {
      padding: 5px;
      font-size: 1.2rem;
      border-radius: 1rem;
      min-width: 2rem;
      background-color: transparent;

      &.active {
        background-color: mix($primary_fg, $primary_bg, 70%);
      }
    }
  }
}

