.title-container {
  .title-box {
    min-width: 10rem;
    background-color: $surface;

    padding-left: 8px;

    .title-class {
      font-size: 0.6rem;
      color: $primary;
    }

    .title-title {
      font-size: 0.7rem;
      &:first-child {
        font-size: 1rem;
      }
    }
  }
}
