label, button, box, centerbox, window {
  all: unset;
  font-family: JetBrains Mono Light; }

.audio-volume-box .audio-volume-label {
  min-width: 3rem; }

.audio-volume-box trough {
  min-height: 6px;
  min-width: 6px;
  border-radius: 1rem; }
  .audio-volume-box trough highlight, .audio-volume-box trough progress {
    border-radius: 1rem; }

.audio-volume-box slider {
  all: unset; }

.mixer-item {
  margin: 5px 0px; }
  .mixer-item > box {
    padding-left: 5px; }
  .mixer-item .mixer-item-volume {
    padding-bottom: 5px; }
  .mixer-item .mixer-item-title {
    padding-bottom: 5px; }
  .mixer-item trough {
    min-height: 6px;
    min-width: 6px;
    border-radius: 1rem; }
    .mixer-item trough highlight, .mixer-item trough progress {
      border-radius: 1rem; }
  .mixer-item slider {
    all: unset; }
  .mixer-item image {
    font-size: 40px; }

.bar-revealer {
  min-height: 2px; }

.clock-container {
  background-color: rgba(30, 30, 46, 0.5);
  padding-right: 8px; }
  .clock-container .clock-date {
    font-size: 0.6rem;
    color: #CBA6F7; }
  .clock-container .clock-time {
    font-size: 0.7rem; }

.osd-indicator {
  background-color: rgba(30, 30, 46, 0.5);
  min-width: 8.864rem;
  min-height: 3.409rem;
  border-radius: 1rem;
  padding: 0.625rem 1.023rem;
  padding-top: 0.313rem;
  margin: 10px; }
  .osd-indicator .osd-label {
    color: #CDD6F4;
    margin-top: 0.341rem; }
  .osd-indicator .osd-value-txt {
    font-weight: 500;
    color: #CDD6F4; }
  .osd-indicator .osd-progress {
    min-height: 0.955rem;
    min-width: 0.068rem;
    padding: 0rem;
    border-radius: 10rem; }
    .osd-indicator .osd-progress trough {
      min-height: 0.954rem;
      min-width: 0.068rem;
      border-radius: 10rem;
      background-color: #1E1E2E; }
    .osd-indicator .osd-progress progress {
      min-height: 0.680rem;
      min-width: 0.680rem;
      margin: 0rem 0.137rem;
      border-radius: 10rem;
      background-color: #CBA6F7; }

.launcher {
  background-color: rgba(30, 30, 46, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  min-width: 25rem; }
  .launcher .search-entry {
    border-radius: 1rem;
    margin-bottom: 5px; }
  .launcher .search-scroll scrollbar, .launcher .search-scroll scrollbar * {
    all: unset; }
  .launcher .search-scroll .search-results .app-button {
    padding: 5px;
    border-radius: 1rem; }
    .launcher .search-scroll .search-results .app-button .app-icon {
      font-size: 3rem;
      margin-right: 5px; }
    .launcher .search-scroll .search-results .app-button .app-name {
      font-weight: bold;
      font-size: 1.2rem; }
    .launcher .search-scroll .search-results .app-button .app-description {
      font-size: 0.8rem; }
    .launcher .search-scroll .search-results .app-button.focused {
      background-color: rgba(30, 30, 46, 0.5); }

.bar-music-container {
  background-color: rgba(30, 30, 46, 0.5);
  padding: 1px; }
  .bar-music-container .music-progress {
    font-size: 2px;
    min-width: 12px;
    min-height: 12px; }
    .bar-music-container .music-progress image {
      font-size: 0.5rem; }

.music-container {
  background-color: rgba(30, 30, 46, 0.5);
  border-radius: 1rem;
  padding: 5px;
  margin-top: 5px; }
  .music-container .music-cover {
    min-width: 5rem;
    min-height: 5rem;
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    border-radius: 1rem; }
    .music-container .music-cover image {
      font-size: 4rem; }
  .music-container .music-artist {
    text-shadow: 0.1rem 0.1rem rgba(30, 30, 46, 0.5); }
  .music-container .music-title {
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem rgba(30, 30, 46, 0.5); }
  .music-container .music-button-prev {
    background-color: rgba(160, 132, 197, 0.75);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 5px; }
  .music-container .music-button-next {
    background-color: rgba(160, 132, 197, 0.75);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 5px; }
  .music-container .music-progress {
    font-size: 3px;
    min-width: 40px;
    min-height: 40px; }
    .music-container .music-progress image {
      font-size: 1.6rem; }

.notification-indicator {
  font-size: 1.3rem; }

.notification-indicator-container {
  background-color: rgba(30, 30, 46, 0.5);
  padding-right: 8px; }

.notifications-popup-list {
  min-width: 40rem;
  margin-right: 5px; }

.notification {
  padding: 5px;
  margin-top: 5px;
  border-radius: 1rem;
  background-color: rgba(30, 30, 46, 0.5);
  min-width: 24.3rem; }
  .notification .notification-icon {
    font-size: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    margin-right: 5px;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    border-radius: 1rem; }
  .notification .notification-title {
    font-weight: bold; }
  .notification .notification-close {
    min-width: 1.5rem; }
  .notification .notification-action-button {
    background-color: rgba(160, 132, 197, 0.75);
    border-radius: 1rem;
    margin: 5px 0px; }

.session-bg {
  margin-top: -2.727rem;
  background-color: rgba(30, 30, 46, 0.5); }

.session-button {
  border-radius: 1rem;
  min-width: 8.182rem;
  min-height: 8.182rem;
  background-color: #1E1E2E;
  color: #CDD6F4;
  font-size: 3rem; }

.session-button-focused {
  background-color: rgba(30, 30, 46, 0.5);
  color: #CDD6F4; }

.session-button-desc {
  background-color: #0f0f17;
  color: #ccbef6;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.205rem 0.341rem;
  font-weight: 700;
  font-size: 11px; }

.corner {
  background-color: rgba(30, 30, 46, 0.5);
  border-radius: 1rem; }

.angle {
  background-color: rgba(30, 30, 46, 0.5); }

.sidebar-right {
  background-color: rgba(30, 30, 46, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  min-width: 25rem;
  min-height: 27rem; }
  .sidebar-right scrollbar, .sidebar-right scrollbar * {
    all: unset; }
  .sidebar-right .qs-page {
    min-height: 10rem; }
  .sidebar-right .qs-menu {
    margin-bottom: 8px; }
    .sidebar-right .qs-menu .qs-title {
      font-weight: bold; }
  .sidebar-right .qs-header {
    margin: 8px 0;
    background-color: rgba(30, 30, 46, 0.5);
    border-radius: 1rem; }
    .sidebar-right .qs-header .qs-button {
      padding: 5px;
      font-size: 1.2rem;
      border-radius: 1rem;
      min-width: 2rem;
      background-color: transparent; }
      .sidebar-right .qs-header .qs-button.active {
        background-color: rgba(160, 132, 197, 0.75); }

.systray-container {
  background-color: rgba(30, 30, 46, 0.5);
  padding-right: 8px; }
  .systray-container .systray-item {
    font-size: 1.3rem; }

.title-container .title-box {
  min-width: 10rem;
  background-color: rgba(30, 30, 46, 0.5);
  padding-left: 8px; }
  .title-container .title-box .title-class {
    font-size: 0.6rem;
    color: #CBA6F7; }
  .title-container .title-box .title-title {
    font-size: 0.7rem; }

.ws-container {
  background-color: rgba(30, 30, 46, 0.5);
  padding: 3px; }
  .ws-container .ws-button {
    transition: all 200ms; }
    .ws-container .ws-button.occupied {
      background-color: #1E1E2E;
      border-top: 1px solid #CBA6F7;
      border-bottom: 1px solid #CBA6F7; }
      .ws-container .ws-button.occupied.occupied-left {
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        border-left: 1px solid #CBA6F7; }
      .ws-container .ws-button.occupied.occupied-right {
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        border-right: 1px solid #CBA6F7; }
    .ws-container .ws-button:not(.occupied) {
      border-radius: 1rem; }
    .ws-container .ws-button.active .ws-button-label {
      background-color: #CBA6F7;
      color: #1E1E2E;
      border-radius: 1rem; }
    .ws-container .ws-button .ws-button-label {
      min-width: 2rem; }
