.bar-revealer {
  min-height: 2px;
}

.bar-container {
  background-color: $primary_bg;
}

.ws-container {
  padding: 3px;
  .ws-button {
    &.active {
      .ws-button-label {
        background-color: $primary_fg;
        color: $primary_bg;
        border-radius: 1rem;
      }
    }
    &.occupied {
      background-color: $secondary_bg;
      border-top: 1px solid $primary_fg;
      border-bottom: 1px solid $primary_fg;
      &.occupied-left {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-left: 1px solid $primary_fg;
      }
      &.occupied-right {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-right: 1px solid $primary_fg;
      }
    }
    .ws-button-label {
      min-width: 2rem;
      color: $default_fg;
    }
  }
}

.title-container {
  min-width: 10rem;
  background-color: $primary_bg;
  padding-left: 8px;
  .title-class {
    font-size: 0.6rem;
    color: $primary_fg;
  }
  .title-title {
    font-size: 0.7rem;
  }
}

.clock-container {
  background-color: $primary_bg;
  padding-right: 8px;

  .clock-date {
    font-size: 0.6rem;
    color: $primary_fg;
  }

  .clock-time {
    font-size: 0.7rem;
  }
}

.bar-end {
  color: $primary_bg;
}





